.config-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0c0c0c;
}
.config-steps {
  top: 339px;
  left: 0px;
  right: 0px;
  width: 1328px;
  height: 349px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.config-text {
  color: #ffffff;
  font-size: 3rem;
}
.config-text01 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.config-container01 {
  flex: 0 0 auto;
  width: 1029px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.config-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.config-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.config-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container03 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.config-icon {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.config-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container04 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.config-text02 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.config-text03 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.config-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.config-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.config-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container06 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.config-icon2 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.config-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container07 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.config-text09 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.config-text10 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.config-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.config-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.config-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container09 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.config-icon4 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.config-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container10 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.config-text16 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.config-text17 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.config-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.config-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.config-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container12 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.config-icon7 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
.config-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.config-container13 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.config-text22 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.config-text23 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.config-text28 {
  color: rgb(255, 255, 255);
  right: 85px;
  width: 678px;
  bottom: 90px;
  height: 180px;
  position: absolute;
  font-size: 75px;
  font-style: normal;
  text-align: right;
  font-family: Montserrat;
  font-weight: 900;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.config-text33 {
  top: 89px;
  left: 90px;
  width: 650px;
  height: 165px;
  position: absolute;
  font-size: 75px;
  font-family: Montserrat;
  font-weight: 900;
  line-height: 1.15;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.config-text34 {
  color: #ffffff;
}
.config-text35 {
  color: #ffffff;
}
.config-text36 {
  color: #ffffff;
}
.config-text38 {
  color: var(--dl-color-gray-900);
  right: 471px;
  bottom: 77px;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  text-align: left;
}
.config-text48 {
  top: 187px;
  left: 613px;
  color: var(--dl-color-gray-900);
  position: absolute;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.config-stats {
  left: 104px;
  width: 273px;
  bottom: 175px;
  height: 645px;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  padding-right: 112px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.config-stat {
  top: 210px;
  left: 0px;
  height: 95px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.config-text58 {
  color: rgb(114, 167, 168);
  width: 105px;
  font-size: 3rem;
  text-align: center;
}
.config-text59 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 500;
}
.config-stat1 {
  top: 352px;
  left: 0px;
  height: 143px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.config-text60 {
  color: rgb(114, 167, 168);
  width: 105px;
  font-size: 3rem;
  text-align: center;
}
.config-text61 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 500;
}
.config-stat2 {
  left: 0px;
  bottom: 70px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.config-text62 {
  color: rgb(114, 167, 168);
  width: 200px;
  font-size: 3rem;
  text-align: center;
}
.config-text63 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 500;
}
@media(max-width: 991px) {
  .config-steps {
    top: 301px;
    right: -1px;
    position: absolute;
  }
  .config-text {
    text-align: center;
  }
  .config-text01 {
    text-align: center;
  }
  .config-text38 {
    max-width: 100%;
  }
  .config-text58 {
    text-align: center;
  }
  .config-text60 {
    text-align: center;
  }
  .config-text62 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .config-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .config-container01 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .config-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .config-container02 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .config-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-container04 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .config-text02 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .config-text03 {
    text-align: left;
  }
  .config-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .config-container05 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .config-line2 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-container07 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .config-text09 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .config-text10 {
    text-align: left;
  }
  .config-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .config-container08 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .config-line4 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-container10 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .config-text16 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .config-text17 {
    text-align: left;
  }
  .config-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .config-container11 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .config-line6 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-line7 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .config-container13 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .config-text22 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .config-text23 {
    text-align: left;
  }
  .config-text38 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .config-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .config-text59 {
    text-align: center;
  }
  .config-text61 {
    text-align: center;
  }
  .config-text63 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .config-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .config-container01 {
    padding-left: 0px;
  }
  .config-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .config-text02 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .config-container07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .config-text09 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .config-container10 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .config-text16 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .config-container13 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .config-text22 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .config-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
